#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: #434952;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  #no-mobile {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  #no-mobile {
    display: none;
  }
}

@keyframes ani_square_move_1 {
  0% {
    transform: scaley(1);
  }
  5% {
    transform: scaley(1.2);
  }
  10% {
    transform: scaley(1.4);
  }
  15% {
    transform: scaley(1.6);
  }
  20% {
    transform: scaley(1.8);
  }
  25% {
    transform: scaley(2);
  }
  30% {
    transform: scaley(1.8);
  }
  35% {
    transform: scaley(1.6);
  }
  40% {
    transform: scaley(1.4);
  }
  45% {
    transform: scaley(1.2);
  }
  50% {
    transform: scaley(1);
  }
  100% {
    transform: scaley(1);
  }
}
.square {
  background-color: #c3cace;
  width: 10px;
  height: 50px;
  margin: 5px;
  animation: ani_square_move_1 1s ease infinite;
}
.square_move_1 {
  animation-delay: 0.1s;
}
.square_move_2 {
  animation-delay: 0.2s;
}
.square_move_3 {
  animation-delay: 0.3s;
}
.square_move_4 {
  animation-delay: 0.4s;
}
.square_move_5 {
  animation-delay: 0.5s;
}
.square_div {
  display: flex;
  width: 500px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.no-mobile-title {
  font-size: 600;
  font-weight: 550;
  color: #c3cace;
}
